body {
  background-image: url('../img/background.png');
  background-size: 100%;
  background-color: #cccccc;
  overflow: hidden;
  background-repeat: no-repeat;
}

.card {
  float: left;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;

}

.covered {
  background-image: url('../img/card_back.png');
}

.hand {
  overflow: auto;
}
